body{
    background-image: url(/beach.jpg);
    background-color: rgb(109, 106, 106);
    font-family: 'Gilroy';
}


*{
    font-family: 'Gilroy';
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    ;
}
.main{
    
    text-align: center;
    ;
}


mainTwo{
    
    text-align: center;
    
}

.table{
    text-align: center;
  
    border-color: rgb(255, 3, 3);
}

.center {
    
    margin-left: auto;
    margin-right: auto;
  }

.budget-container{
    position: absolute;
    width: 700px;
    height: 780px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #6c99fa;
}






